{% extends 'base.html.twig' %}

{% block title %}Hello Home!{% endblock %}

{% block body %}
    <div class="home_info">

    </div>
    <div class="home_profile">
        <h2>Tu n'est pas encore connecté ?</h2>
        <button>Se connecter</button>
        <button>S'inscrire</button>


    </div>
{% endblock %}
