// Initialisation du projet
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import "color.scss";
@import "font.scss";

// Mise en page
body{
    //Style du body
    background-color: $background-color;
    width: 100vw;
    // Style de la navbar
    nav{
        background-color: $textes-color;
        width: 100%;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        ul{
            display: flex;
            list-style: none;
            justify-content: center;
            li{
                a{
                    display: block;
                    @extend %nav-font;
                    padding: 1.5em;
                    &:after{
                        content: "";
                        display: block;
                        width: 0;
                        height: 1.5px;
                        background-color: $background-color;
                        transition: width 0.3s;
                    }
                    &:hover{
                        &:after{
                            width: 100%;
                        }
                    }
                    &:active{
                        color: $background-color;
                        &:after{
                            width: 50%;
                        }
                    }
                }
            }
        }
    }
    // Style du main

}